<!--========================-->
<!--======main-drop-down======-->
<!--========================-->
<div class="main-drop-down js-drop-down mdd for-life-style">
	<span class="arrow-up">
		<img src="img/arrow.png" alt="" title="" width="33"/>
	</span>
	<div class="main-drop-down-inner">
		<div class="main-drop-down-inner-pad border-outline">
			<ul class="drop-down-buttons-list">
				<li class="drop-down-button-item current">
					<a href="#" class="dd-button">
						<span class="dd-button-txt">DIET</span>
					</a>
				</li>
				<li class="drop-down-button-item">
					<a href="#" class="dd-button">
						<span class="dd-button-txt">MEDITATION</span>
					</a>
				</li>
				<li class="drop-down-button-item">
					<a href="#" class="dd-button">
						<span class="dd-button-txt">TEACHING TIPS</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--========================-->
<!--======/main-drop-down======-->
<!--========================-->