<!--dd-abs-->
<div class="dd-abs">
	<div class="drop-down">

		<div class="dd-ar-top">
			<img src="img/ar.png" width="34" height="14" alt="" class=""/>
		</div>

		<div class="drop-down-pad">

			<h2 class="drop-down-list-title">
				<span class="drop-down-list-title-txt">
					MY SETTINGS
				</span>
			</h2>

			<ul class="dd-list">
				<li class="dd-item">
					<a href="personal-info/" class="dd-item-link">
						<span class="dd-item-link-span">
							Personal Info
						</span>
					</a>
				</li>
				<li class="dd-item">
					<a href="change-password/" class="dd-item-link">
						<span class="dd-item-link-span">
							Change Password
						</span>
					</a>
				</li>
				<li class="dd-item">
					<a href="saved-credit-cards/" class="dd-item-link">
						<span class="dd-item-link-span">
							Saved Credit Cards
						</span>
					</a>
				</li>
			</ul>

			<h2 class="drop-down-list-title">
				<span class="drop-down-list-title-txt">
					SUBSCRIPTION SETTINGS
				</span>
			</h2>

			<ul class="dd-list">
				<li class="dd-item">
					<a href="cancel-subscribtion/" class="dd-item-link">
						<span class="dd-item-link-span">
							Cancel Subscribtion
						</span>
					</a>
				</li>
			</ul>

			<h2 class="drop-down-list-title">
				<span class="drop-down-list-title-txt">
					RENTED HISTORY
				</span>
			</h2>

			<ul class="dd-list">
				<li class="dd-item">
					<a href="history-list/" class="dd-item-link">
						<span class="dd-item-link-span">
							History List
						</span>
					</a>
				</li>
			</ul>

		</div>
	</div>
</div>
<!--/dd-abs-->