<!--========================-->
<!--======main-drop-down======-->
<!--========================-->
<div class="main-drop-down main-drop-down-w2 js-drop-down mdd for-style">
	<span class="arrow-up">
		<img src="img/arrow.png" alt="" title="" width="33"/>
	</span>
	<div class="main-drop-down-inner">
		<div class="main-drop-down-inner-pad border-outline">
			<!--dd-title-place-->
			<div class="dd-title-place">
				<div class="dd-title-place-pad">
					<h2 class="dd-title-place-title">
						<span class="dd-title-place-title-txt">
							LENGTH
						</span>
					</h2>
				</div>
			</div>
			<!--/dd-title-place-->
			<ul class="drop-down-buttons-list">
				<li class="drop-down-button-item current">
					<a href="#" class="dd-button">
						<span class="dd-button-txt">05 MIN</span>
					</a>
				</li>
				<li class="drop-down-button-item">
					<a href="#" class="dd-button">
						<span class="dd-button-txt">20 MIN</span>
					</a>
				</li>
				<li class="drop-down-button-item">
					<a href="#" class="dd-button">
						<span class="dd-button-txt">30 MIN</span>
					</a>
				</li>
				<li class="drop-down-button-item">
					<a href="#" class="dd-button">
						<span class="dd-button-txt">40 MIN</span>
					</a>
				</li>
				<li class="drop-down-button-item">
					<a href="#" class="dd-button">
						<span class="dd-button-txt">60 MIN</span>
					</a>
				</li>
			</ul>
			<div class="spacer-dd">
				<div class="spacer-dd-pad">
					<div class="spacer-dd-line"></div>
				</div>
			</div>
			<!--dd-title-place-->
			<div class="dd-title-place">
				<div class="dd-title-place-pad">
					<h2 class="dd-title-place-title">
						<span class="dd-title-place-title-txt">
							DIFFICULTY
						</span>
					</h2>
				</div>
			</div>
			<!--/dd-title-place-->
			<ul class="drop-down-buttons-list">
				<li class="drop-down-button-item">
					<a href="#" class="dd-button">
						<span class="dd-button-txt">1 LEVEL</span>
					</a>
				</li>
				<li class="drop-down-button-item">
					<a href="#" class="dd-button">
						<span class="dd-button-txt">2 LEVEL</span>
					</a>
				</li>
				<li class="drop-down-button-item">
					<a href="#" class="dd-button">
						<span class="dd-button-txt">3 LEVEL</span>
					</a>
				</li>
				<li class="drop-down-button-item">
					<a href="#" class="dd-button">
						<span class="dd-button-txt">4 LEVEL</span>
					</a>
				</li>
			</ul>
			<div class="dd-footer-spacer"></div>
		</div>
	</div>
</div>
<!--========================-->
<!--======/main-drop-down======-->
<!--========================-->