<!--drop-down-filter-box-->
<div class="drop-down-filter-box-position drop-down-filter-box-teacher">
	<span class="drop-down-filter-box-arrow">
		<img src="img/arrow.png" width="36" height="15" alt="" title=""/>
	</span>
	<div class="drop-down-filter-box">
		<div class="drop-down-filter-box-pad">
			<!--************drop-down-teacher-carousel-cell************-->
			<div class="drop-down-teacher-carousel-cell">
				<a href="#" class="drop-down-teacher-carousel-prev js-prev-teacher-carousel arrow-hover">
					<span class="arrow-prev-cell size">
						<svg id="icon-next" class="arrow-prev-cell-svg size" viewBox="0 0 634 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<path class="path1" d="M633.956 68.658l-71.33-68.658-562.626 511.866 562.626 511.866 71.063-68.658-487.021-443.208 487.288-443.208z"></path>
						</svg>
					</span>
				</a>
				<a href="#" class="drop-down-teacher-carousel-next js-next-teacher-carousel arrow-hover">
					<span class="arrow-next-cell size">
						<svg id="icon-next" class="arrow-next-cell-svg size" viewBox="0 0 634 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<path class="path1" d="M0 955.342l71.063 68.658 562.626-511.866-562.626-512.134-71.063 68.658 487.288 443.208-487.288 443.475z"></path>
						</svg>
					</span>
				</a>
				<div class="drop-down-teacher-carousel">
					<!--drop-down-teacher-carousel-item-->
					<div class="drop-down-teacher-carousel-item item">
						<ul class="teacher-carousel-list">
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/2.jpg" alt="{RUDY METTIA}" title="{RUDY METTIA}" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">RUDY METTIA</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/3.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">JULES MITCHELL</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/4.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">CALEY ALYSSA</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/8.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">VYTAS BASKAUSKAS</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/9.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">CALVIN CORZINE</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/10.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">ELLE POTTER</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/12.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">ELLE POTTER</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/20.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">TRAVIS ELIOT</span>
									</label>
								</div>
							</li>
						</ul>
					</div>
					<!--/drop-down-teacher-carousel-item-->
					<!--drop-down-teacher-carousel-item-->
					<div class="drop-down-teacher-carousel-item item">
						<ul class="teacher-carousel-list">
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/2.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">RUDY METTIA</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/3.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">JULES MITCHELL</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/4.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">CALEY ALYSSA</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/8.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">VYTAS BASKAUSKAS</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/9.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">CALVIN CORZINE</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/10.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">ELLE POTTER</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/12.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">ELLE POTTER</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/20.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">TRAVIS ELIOT</span>
									</label>
								</div>
							</li>
						</ul>
					</div>
					<!--/drop-down-teacher-carousel-item-->
					<!--drop-down-teacher-carousel-item-->
					<div class="drop-down-teacher-carousel-item item">
						<ul class="teacher-carousel-list">
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/2.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">RUDY METTIA</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/3.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">JULES MITCHELL</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/4.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">CALEY ALYSSA</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/8.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">VYTAS BASKAUSKAS</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/9.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">CALVIN CORZINE</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/10.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">ELLE POTTER</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/12.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">ELLE POTTER</span>
									</label>
								</div>
							</li>
							<li class="teacher-carousel-item">
								<div class="teacher-carousel-item-pad">
									<label class="teacher-cell">
										<span class="teacher-round-place">
											<img src="img/teacher/20.jpg" alt="" title="" width="101" height="101" class="hta teacher-drop-down-img"/>
										</span>
										<span class="teacher-name">TRAVIS ELIOT</span>
									</label>
								</div>
							</li>
						</ul>
					</div>
					<!--/drop-down-teacher-carousel-item-->
				</div>
			</div>
			<!--************/drop-down-teacher-carousel-cell************-->
			<div class="bottom-spacer"></div>

		</div>
	</div>
</div>
<!--======/drop-down-filters======-->