<!--======drop-down-filters-difficulty======-->
<div class="drop-down-filter-box-position drop-down-filter-box-difficult">
	<span class="drop-down-filter-box-arrow">
		<img src="img/arrow.png" width="36" height="15" alt="" title=""/>
	</span>
	<div class="drop-down-filter-box">
		<div class="drop-down-filter-box-pad">
			<ul class="drop-down-filter-item-list">
				<li class="drop-down-filter-item">
					<div class="drop-down-filter-item-pad">
						<label class="custom-filter-label">
							<span class="custom-filter-label-txt">
								1 LEVEL
							</span>
						</label>
					</div>
				</li>
				<li class="drop-down-filter-item">
					<div class="drop-down-filter-item-pad">
						<label class="custom-filter-label">
							<span class="custom-filter-label-txt">
								2 LEVEL
							</span>
						</label>
					</div>
				</li>
				<li class="drop-down-filter-item">
					<div class="drop-down-filter-item-pad">
						<label class="custom-filter-label">
							<span class="custom-filter-label-txt">
								3 LEVEL
							</span>
						</label>
					</div>
				</li>
				<li class="drop-down-filter-item">
					<div class="drop-down-filter-item-pad">
						<label class="custom-filter-label">
							<span class="custom-filter-label-txt">
								3 LEVEL
							</span>
						</label>
					</div>
				</li>
				<li class="drop-down-filter-item">
					<div class="drop-down-filter-item-pad">
						<label class="custom-filter-label">
							<span class="custom-filter-label-txt">
								RESET
							</span>
						</label>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--======/drop-down-filters-difficulty======-->