				<!--main-header-->
				<div class="main-header main-header-min">

					<!--======index-header======-->
					<header class="index-header absolute-layer">
						<div class="index-header-fix">
							<h1>
								<a href="." class="logo">UDAYA</a>
							</h1>
							<div class="index-header-left">
								<div class="index-header-left-pad">
									<!--main-nav-->
									<nav class="main-nav">
										<ul class="main-menu">
											<li class="main-menu-item">
												<a href="all-videos/" class="main-menu-item-link">
													<span class="main-menu-item-link-txt">
														ALL VIDEOS
													</span>
												</a>
											</li>
											<li class="main-menu-item">
												<a href="teachers/" class="main-menu-item-link">
													<span class="main-menu-item-link-txt">
														TEACHERS
													</span>
												</a>
												<!--dropDownTeachers-->
												<drop-down-teachers></drop-down-teachers>
												<!--/dropDownTeachers-->
											</li>
											<li class="main-menu-item">
												<a href="style/" class="main-menu-item-link">
													<span class="main-menu-item-link-txt">
														STYLE
													</span>
												</a>
												<!--dropDownStyle-->
												<drop-down-style></drop-down-style>
												<!--/dropDownStyle-->
											</li>
											<li class="main-menu-item">
												<a href="lifestyle/" class="main-menu-item-link">
													<span class="main-menu-item-link-txt">
														LIFESTYLE
													</span>
												</a>
												<!--dropDownLifeStyle-->
												<drop-down-life-style></drop-down-life-style>
												<!--/dropDownLifeStyle-->
											</li>
											<li class="main-menu-item">
												<a href="store/" class="main-menu-item-link">
													<span class="main-menu-item-link-txt">
														STORE
													</span>
												</a>
											</li>
											<li class="main-menu-item">
												<a href="blog/" class="main-menu-item-link">
													<span class="main-menu-item-link-txt">
														BLOG
													</span>
												</a>
											</li>
										</ul>
									</nav>
									<!--/main-nav-->
								</div>
							</div>
							<div class="index-header-right">
								<div class="index-header-right-pad">
									<ul class="right-links-list">
										<li class="right-links-item">
											<a href="#" class="right-link easy-hover">
												<span class="right-link-txt">
													<span class="user-avatar-place">
														<span class="user-avatar-crop">
															<img src="img/teacher/4.jpg" alt="" title="" width="53" height="53" class="hta"/>
														</span>
													</span>
													SCARLETT JOHANSSON
												</span>
											</a>
											<!--dropDownUserProfile-->
											<drop-down-user-profile></drop-down-user-profile>
											<!--/dropDownUserProfile-->
										</li>
										<li class="right-links-item">
											<a href="#" class="right-link HORISON-HOVER">
												<span class="right-link-txt HORISON-EFFECT" data-effect-txt="SUBSCRIBE">
													SUBSCRIBE
												</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</header>
					<!--======/index-header======-->
				</div>
				<!--/main-header-->